# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv"

df = pd.read_csv(url)

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
sliced_df = df.loc[:, 'school':'guardian']


print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [4]:
capitalize_string = lambda x: x.capitalize()

print(capitalize_string("hello"))  # Output: Hello
print(capitalize_string("python"))  # Output: Python

Hello
Python

### Step 6. Capitalize both Mjob and Fjob

In [5]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(lambda x: x.capitalize())

print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 7. Print the last elements of the data set.

In [6]:
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[5 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [7]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(lambda x: x.str.capitalize())

print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [8]:
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

print(df[['age', 'legal_drinker']].head())

   age  legal_drinker
0   18           True
1   17          False
2   15          False
3   15          False
4   16          False

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [9]:
# Multiply every number in the dataset by 10
df = df.applymap(lambda x: x * 10 if isinstance(x, (int, float)) else x)

# Display the updated DataFrame
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F  180       U     GT3       A    40    40  At_home   Teacher  ...
1     GP   F  170       U     GT3       T    10    10  At_home     Other  ...
2     GP   F  150       U     LE3       T    10    10  At_home     Other  ...
3     GP   F  150       U     GT3       T    40    20   Health  Services  ...
4     GP   F  160       U     GT3       T    30    30    Other     Other  ...

  freetime goout  Dalc  Walc  health absences   G1   G2   G3 legal_drinker
0       30    40    10    10      30       60   50   60   60            10
1       30    30    10    10      30       40   50   50   60             0
2       30    20    20    30      30      100   70   80  100             0
3       20    20    10    10      50       20  150  140  150             0
4       30    20    10    20      50       40   60  100  100             0

[5 rows x 34 columns]