<a href="https://colab.research.google.com/github/hoanganhloan172/Data_analys_with_python/blob/main/Ki%E1%BB%83m%20tra%20gi%E1%BB%AFa%20k%C3%AC/PH%E1%BA%A0M_HO%C3%80NG_ANH_B%C3%80I_THI_GI%E1%BB%AEA_K%C3%8C_L%E1%BA%ACP_TR%C3%8CNH_PH%C3%82N_T%C3%8DCH_D%E1%BB%AE_LI%E1%BB%86U.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Adult dataset

Thông tin giá trị dưới đây là duy nhất cho từng features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

### 1. Import các thư viện cần thiết

In [ ]:
# You code here
import pandas as pd

### 2. Đọc dữ liệu từ file này và gán tên biến là df [address](https://github.com/thieu1995/csv-files/blob/main/data/pandas/adult.data). Đồng thời thiết lập tên các features dựa trên thông tin đã cho ở đầu bài. (0.5đ)

In [ ]:
# You code here
columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
           "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
           "hours-per-week", "native-country", "salary"]
df = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/adult.data", names = columns, skipinitialspace=True)

### 3. In ra giá trị 15 hàng dữ liệu đầu tiên của bảng (0.5đ)

In [ ]:
# You code here
df.head(15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K

### 4. In ra 5 hàng cuối cùng của bảng dữ liệu (0.5đ)

In [ ]:
# You code here
df.tail(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### 5. Hiển thị các giá trị thống kê đối với các features dạng số và cho biết giá trị mean của capital-gain là bao nhiêu? (0.5đ)

In [ ]:
# You code here
features = df.select_dtypes(include=['int64', 'float64'])
print("Thống kê đối với các features dạng số:")
print(features.describe())

mean_capital_gain = df['capital-gain'].mean()
print("Gtri TB cua captial-gain:", mean_capital_gain)

Thống kê đối với các features dạng số:
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Gtri TB cua captial-gain: 1077.6488437087312

### 6. Độ tuổi trung bình của women là bao nhiêu? (0.5đ)

In [ ]:
## You code here
avg_age_women = df[df['sex'] == 'Female']['age'].mean()

print("Tuoi trung binh cua women:", avg_age_women)

Tuoi trung binh cua women: 36.85823043357163

### 7. Phần trăm dân số người German là bao nhiêu (native-country feature)? (0.5đ)

In [ ]:
# You code here

In [ ]:
german_percent = (df['native-country'].value_counts(normalize=True).get('Germany', 0) * 100)

print(f"% Dan so german: {german_percent:.2f}%")

% Dan so german: 0.42%

### 8. Độ lệch chuẩn và giá trị trung bình của độ tuổi đối với những người kiếm được hơn 50K mỗi năm (*native-country* feature) và những người kiếm được ít hơn 50K mỗi năm là bao nhiêu? (0.5đ)

In [ ]:
# You code here

In [ ]:
result = df.groupby('salary')['age'].agg(['mean', 'std'])

print(result)

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

### 9. Có đúng là những người kiếm được hơn 50K đều có trình độ học vấn ít nhất là  high school? (education feature – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate) (1đ)

In [ ]:
Rank =  ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

high_school_check = df[df['salary'] == '>50K']['education'].isin(Rank).all()

if high_school_check:
    print("Đúng")
else:
    print("Không đúng")

Không đúng

In [ ]:
# You code here

### 11. Tỉ lệ người married hay single men (marital-status feature) chiếm nhiều hơn trong số những người kiếm được >50k? Những người có tình trạng hôn nhân (married) có marital-status feature bắt đầu với Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), còn lại được coi là single men. (1đ)

In [ ]:
# You code here

In [ ]:
thu_nhap_hon_50k = df[df['salary'] == '>50K']

married_check = thu_nhap_hon_50k['marital-status'].str.startswith('Married').value_counts(normalize=True)

print(f"Da ket hon: {married_check[True]:.2%}")
print(f"Doc than: {married_check[False]:.2%}")

Da ket hon: 85.91%
Doc than: 14.09%

### 12. Số giờ tối đa một người làm việc mỗi tuần (hours-per-week feature) là bao nhiêu? Có bao nhiêu người làm việc với số giờ như vậy và tỷ lệ những người kiếm được nhiều (>50K) trong số đó là bao nhiêu? (1đ)

In [ ]:
# You code here

In [ ]:
ty_le_nguoi_kiem_nhieu_hon_50k = df['salary'].value_counts(normalize=True).get('>50K', 0)
so_nguoi_lam_viec_toi_da = df[df['hours-per-week'] == df['hours-per-week'].max()]
so_gio_lam_viec_toi_da_moi_tuan = df['hours-per-week'].max()

print(f"% người kiếm được nhiều (>50K): {ty_le_nguoi_kiem_nhieu_hon_50k:.2%}")
print(f"Số người làm việc với số giờ đa: {len(so_nguoi_lam_viec_toi_da)}")
print(f"Số giờ làm việc tối đa mỗi tuần: {so_gio_lam_viec_toi_da_moi_tuan}")

% người kiếm được nhiều (>50K): 24.08%
Số người làm việc với số giờ đa: 85
Số giờ làm việc tối đa mỗi tuần: 99

### 13. Tính thời gian làm việc trung bình (số giờ mỗi tuần) của những người kiếm được ít và nhiều (salary feature) cho mỗi quốc gia (native-country feature). Với đất nước Nhật Bản thì kết quả như nào? (1đ)

In [ ]:
# You code here

In [ ]:
average_hours_per_week = df.groupby(['native-country', 'salary'])['hours-per-week'].mean().reset_index()

result = average_hours_per_week[average_hours_per_week['native-country'] == 'Japan']

print(result)

   native-country salary  hours-per-week
47          Japan  <=50K       41.000000
48          Japan   >50K       47.958333

### 14. Số người da trắng (white in race feature) kiếm được số tiền >50k ở nước Mỹ chiếm bao nhiêu phần trăm. Câu hỏi tương tự với người da đen (black in race feature). (1đ)

In [ ]:
# You code here

In [ ]:
white_percent = df[(df['race'] == 'White') & (df['native-country'] == 'United-States') & (df['salary'] == '>50K')].shape[0] / df[(df['race'] == 'White') & (df['native-country'] == 'United-States')].shape[0]
black_percent = df[(df['race'] == 'Black') & (df['native-country'] == 'United-States') & (df['salary'] == '>50K')].shape[0] / df[(df['race'] == 'Black') & (df['native-country'] == 'United-States')].shape[0]

print(f"% người da trắng kiếm được số tiền >50K ở nước Mỹ: {white_percent:.2%}")
print(f"% người da đen kiếm được số tiền >50K ở nước Mỹ: {black_percent:.2%}")

% người da trắng kiếm được số tiền >50K ở nước Mỹ: 26.17%
% người da đen kiếm được số tiền >50K ở nước Mỹ: 12.39%