# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [2]:
url_cars1 = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv"
url_cars2 = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv"

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv(url_cars1)
cars2 = pd.read_csv(url_cars2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = pd.read_csv(url_cars1, index_col=0)

print(cars1.head())

      cylinders  displacement horsepower  weight  acceleration  model  origin  \
mpg
18.0          8           307        130    3504          12.0     70       1
15.0          8           350        165    3693          11.5     70       1
18.0          8           318        150    3436          11.0     70       1
16.0          8           304        150    3433          12.0     70       1
17.0          8           302        140    3449          10.5     70       1

                            car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
mpg
18.0  chevrolet chevelle malibu         NaN          NaN          NaN
15.0          buick skylark 320         NaN          NaN          NaN
18.0         plymouth satellite         NaN          NaN          NaN
16.0              amc rebel sst         NaN          NaN          NaN
17.0                ford torino         NaN          NaN          NaN

      Unnamed: 12  Unnamed: 13
mpg
18.0          NaN          NaN
15.0          NaN          NaN
18.0          NaN          NaN
16.0          NaN          NaN
17.0          NaN          NaN

### Step 5. What is the number of observations in each dataset?

In [5]:
num_observations_cars1 = cars1.shape[0]
num_observations_cars2 = cars2.shape[0]

print("Number of observations in cars1 dataset:", num_observations_cars1)
print("Number of observations in cars2 dataset:", num_observations_cars2)

Number of observations in cars1 dataset: 198
Number of observations in cars2 dataset: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = pd.concat([cars1, cars2], ignore_index=True)

print(cars.head())

   cylinders  displacement horsepower  weight  acceleration  model  origin  \
0          8           307        130    3504          12.0     70       1
1          8           350        165    3693          11.5     70       1
2          8           318        150    3436          11.0     70       1
3          8           304        150    3433          12.0     70       1
4          8           302        140    3449          10.5     70       1

                         car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0  chevrolet chevelle malibu         NaN          NaN          NaN
1          buick skylark 320         NaN          NaN          NaN
2         plymouth satellite         NaN          NaN          NaN
3              amc rebel sst         NaN          NaN          NaN
4                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13  mpg
0          NaN          NaN  NaN
1          NaN          NaN  NaN
2          NaN          NaN  NaN
3          NaN          NaN  NaN
4          NaN          NaN  NaN

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [8]:
import numpy as np

owners_series = np.random.randint(15000, 73001, size=len(cars))

cars['owners'] = owners_series


print(cars.head())

   cylinders  displacement horsepower  weight  acceleration  model  origin  \
0          8           307        130    3504          12.0     70       1
1          8           350        165    3693          11.5     70       1
2          8           318        150    3436          11.0     70       1
3          8           304        150    3433          12.0     70       1
4          8           302        140    3449          10.5     70       1

                         car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0  chevrolet chevelle malibu         NaN          NaN          NaN
1          buick skylark 320         NaN          NaN          NaN
2         plymouth satellite         NaN          NaN          NaN
3              amc rebel sst         NaN          NaN          NaN
4                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13  mpg  owners
0          NaN          NaN  NaN   50160
1          NaN          NaN  NaN   25292
2          NaN          NaN  NaN   33466
3          NaN          NaN  NaN   42109
4          NaN          NaN  NaN   30762

### Step 8. Add the column owners to cars

In [9]:
import numpy as np


owners = np.random.randint(15000, 73001, size=len(cars))

cars['owners'] = owners


print(cars.head())

   cylinders  displacement horsepower  weight  acceleration  model  origin  \
0          8           307        130    3504          12.0     70       1
1          8           350        165    3693          11.5     70       1
2          8           318        150    3436          11.0     70       1
3          8           304        150    3433          12.0     70       1
4          8           302        140    3449          10.5     70       1

                         car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0  chevrolet chevelle malibu         NaN          NaN          NaN
1          buick skylark 320         NaN          NaN          NaN
2         plymouth satellite         NaN          NaN          NaN
3              amc rebel sst         NaN          NaN          NaN
4                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13  mpg  owners
0          NaN          NaN  NaN   54632
1          NaN          NaN  NaN   63415
2          NaN          NaN  NaN   34087
3          NaN          NaN  NaN   52901
4          NaN          NaN  NaN   37701