# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)
print(crime.head())

   Year  Population    Total  Violent  Property  Murder  Forcible_Rape  \
0  1960   179323175  3384200   288460   3095700    9110          17190
1  1961   182992000  3488000   289390   3198600    8740          17220
2  1962   185771000  3752200   301510   3450700    8530          17550
3  1963   188483000  4109500   316970   3792500    8640          17650
4  1964   191141000  4564600   364220   4200400    9360          21420

   Robbery  Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
0   107840              154320    912100        1855400         328200
1   106670              156760    949600        1913000         336000
2   110860              164570    994300        2089600         366800
3   116470              174210   1086400        2297800         408300
4   130390              203050   1213200        2514400         472800

### Step 4. What is the type of the columns?

In [3]:
column_types = crime.dtypes

print(column_types)

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

print(crime.dtypes)

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 6. Set the Year column as the index of the dataframe

In [5]:
crime.set_index('Year', inplace=True)


print(crime.head())

            Population    Total  Violent  Property  Murder  Forcible_Rape  \
Year
1960-01-01   179323175  3384200   288460   3095700    9110          17190
1961-01-01   182992000  3488000   289390   3198600    8740          17220
1962-01-01   185771000  3752200   301510   3450700    8530          17550
1963-01-01   188483000  4109500   316970   3792500    8640          17650
1964-01-01   191141000  4564600   364220   4200400    9360          21420

            Robbery  Aggravated_assault  Burglary  Larceny_Theft  \
Year
1960-01-01   107840              154320    912100        1855400
1961-01-01   106670              156760    949600        1913000
1962-01-01   110860              164570    994300        2089600
1963-01-01   116470              174210   1086400        2297800
1964-01-01   130390              203050   1213200        2514400

            Vehicle_Theft
Year
1960-01-01         328200
1961-01-01         336000
1962-01-01         366800
1963-01-01         408300
1964-01-01         472800

### Step 7. Delete the Total column

In [6]:
crime.drop(columns='Total', inplace=True)


print(crime.head())

            Population  Violent  Property  Murder  Forcible_Rape  Robbery  \
Year
1960-01-01   179323175   288460   3095700    9110          17190   107840
1961-01-01   182992000   289390   3198600    8740          17220   106670
1962-01-01   185771000   301510   3450700    8530          17550   110860
1963-01-01   188483000   316970   3792500    8640          17650   116470
1964-01-01   191141000   364220   4200400    9360          21420   130390

            Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
Year
1960-01-01              154320    912100        1855400         328200
1961-01-01              156760    949600        1913000         336000
1962-01-01              164570    994300        2089600         366800
1963-01-01              174210   1086400        2297800         408300
1964-01-01              203050   1213200        2514400         472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [7]:
crime_decades = crime.resample('10AS').sum()

print(crime_decades)

            Population   Violent   Property  Murder  Forcible_Rape  Robbery  \
Year
1960-01-01  1915053175   4134930   45160900  106180         236720  1633510
1970-01-01  2121193298   9607930   91383800  192230         554570  4159020
1980-01-01  2371370069  14074328  117048900  206439         865639  5383109
1990-01-01  2612825258  17527048  119053499  211664         998827  5748930
2000-01-01  2947969117  13968056  100944369  163068         922499  4230366
2010-01-01  1570146307   6072017   44095950   72867         421059  1749809

            Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
Year
1960-01-01             2158520  13321100       26547700        5292100
1970-01-01             4702120  28486000       53157800        9739900
1980-01-01             7619130  33073494       72040253       11935411
1990-01-01            10568963  26750015       77679366       14624418
2000-01-01             8652124  21565176       67970291       11412834
2010-01-01             3764142  10125170       30401698        3569080

### Step 9. What is the most dangerous decade to live in the US?

In [8]:
crime_decades['Total Crime Rate'] = crime_decades.sum(axis=1)

most_dangerous_decade = crime_decades['Total Crime Rate'].idxmax()

print("The most dangerous decade to live in the US is:", most_dangerous_decade)

The most dangerous decade to live in the US is: 2000-01-01 00:00:00